<!DOCTYPE html>
<html ng-app="starter">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline';">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="js/ng-cordova.min.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <link href="dist/ion-floating-menu.css" rel="stylesheet" type="text/css" />
  <script src="dist/ion-floating-menu.js" type="text/javascript"></script>
</head>
<!--ion-android-folder -->

<body style="color:#989898;">
  <style>
    .scan {
      background-color: #075e54;
      width: 20px;
    }

  </style>
  <div ng-controller="mainController as menu">
    <ion-floating-button style="bottom:10px;" ng-if="showProducts" button-color="#075e54" icon-color="#fff" ng-click="scanBarcode()"
      has-footer="true" icon="ion-android-camera">
    </ion-floating-button>
    <ion-floating-button style="bottom:10px;" ng-if="showLists" button-color="#3498DB" icon-color="#fff" ng-click="upload()"
      has-footer="true" icon="ion-android-sync">
    </ion-floating-button>
    <!--   <ion-floating-menu bottom="100px" ng-click="event1()" icon="ion-camera">
        <ion-floating-item ng-click="event1()" icon="ion-camera" text="Escanear"></ion-floating-item>
       <ion-floating-item icon="ion-person" text="Person" click="myEvent()"></ion-floating-item>
        <ion-floating-item icon-image-class="imageClass" icon-image-path="ionic.png" text="Ionic"></ion-floating-item>
    </ion-floating-menu> -->
    <ion-header-bar class="bar-positive has-header" style="background-color: #075e54">
      <button ng-show="backButton" ng-click="loadBack()" class="button button-icon icon ion-ios-arrow-back"></button>
      <h1 class="title">
        <center>{{menuTitle}}&nbsp;&nbsp; <span ng-show="showDate">{{  listDate | date:'MM/dd/yyyy'}}</span></center>
      </h1>
      <div class="buttons">
        <!-- <button menu-toggle="right" ng-show="showAudits" ng-click="loadLocations()" class="button button-icon icon ion-android-add"></button> -->
        <button ng-show="!showLogin" menu-toggle="right" ng-click="openExMenu()" class="button button-icon icon ion-android-more-vertical"></button>
        <ion-list ng-show="exMenu" style="position: absolute;margin-top: 40px;right:0;">
          <ion-item ng-click="loadConfigurations()">Configuraciones </ion-item>
          <ion-item ng-click="loadCloseSession()">Cerrar sesión </ion-item>
        </ion-list>
      </div>
    </ion-header-bar>
    <ion-view>
      <!-- Login -->
      <ion-content ng-show="showLogin" overflow-scroll="false" class="has-header" style="padding:0px;">
        <div style="padding-top: 20%;color:#CCC; text-align: center;">
          <div class="row">
            <div class="col">
              <form name="myForm" novalidate>
                <div class="list">
                  <label class="item item-input ">
               
                <input class="text-center" type="text" placeholder="Usuario" name="username" ng-model="username" ng-minlength="6" required>
            </label>
                  <label class="item item-input">
              
                <input class="text-center" type="password" placeholder="Contraseña" name="password" ng-model="password" ng-minlength="3" required>
            </label>
                </div>
                <div class="padding">
                  <p ng-show="myForm.username.$error.required">* Usuario es requerido</p>
                  <p ng-show="myForm.username.$error.minlength">* Usuario tiene mínimo 6 caracteres</p>
                  <p ng-show="myForm.password.$error.required">* Contraseña es requerida</p>
                  <p ng-show="myForm.password.$error.minlength">* Contraseña tiene mínimo 3 caracteres </p>
                </div>
                <div class="padding">
                  <button type="button" style="background-color:#075E54; text-align: center;" class="button button-full button-positive" ng-disabled="myForm.$invalid"
                    ng-click="authenticate(username,password)">Iniciar sesión</button>
                </div>
              </form>
            </div>
            <!--
<button ng-click="authenticate(user,password)" style="background-color:#075E54; text-align: center;" class="button button-full button-positive">
     Iniciar sesión
    </button>*/-->
          </div>
          <div class="row">
            <div class="col">
              <p class="text-center" style="color: red"> {{loginMessage}}
                <p>
            </div>
          </div>
        </div>
      </ion-content>
      <div ng-if="showLists">
        <ion-content ng-click="closeMenu()" on-touch="closeMenu()" overflow-scroll="false" class="has-header" style="padding:0px;">
          <ion-refresher pulling-text="Arrastre para actualizar..." on-refresh="doRefresh()"></ion-refresher>
          <ion-list>
            <!-- Listas -->
            <ion-item ng-if="list.products[0].id" ng-click="loadProducts(list)" ng-repeat="list in lists  | filter:query as filtered">
              <div class="row" style="padding:16px 16px 16px 16px;">
                <div class="folderSize"><i class="folderIcon icon ion-android-folder"></i></div>
                <div class="col">
                  <p><b>{{list.location}}</b></p>
                  <p>{{list.createdDate }}</p>
                </div>
                <div class="col col-15 text-right">
                  <p><b style="color:#feb271;font-size: 22px;margin-top: 0;">{{list.products.length}}</b>
                    <p>Productos</p>
                  </p>
                </div>
                <ion-option-button class="button-positive" ng-click="syc(list)">&nbsp;&nbsp;Subir Datos&nbsp;&nbsp;</ion-option-button>
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </div>
      <!--
<div  ng-if="showAudits">
<ion-content  overflow-scroll="false" class="has-header" style="padding:0px;">
<iom-list>
    <!-- Auditorias 
    <ion-item  ng-click="loadProducts(audit)" ng-repeat="audit in audits">
      <div class="row" >
        <div class="col "> <p><b>{{audit.name}}</b></p><p>{{audit.date  | date:'MM/dd/yyyy'}}</p></div>
        <div class="col col-15 pull-right text-right" style="right: 0"><p style="color:#feb271;font-size: 22px;margin-top: 0;"><b>{{audit.status}}/{{audit.qty}}</b><p>Productos</p></p></div>
      </div>
    </ion-item>

</iom-list>
</ion-content>
</div>

<div ng-if="isNewAudit">
<ion-content   overflow-scroll="false" class="has-header" style="padding:0px;">
<ion-list>
    <!-- Ubicaciones ng-click="loadProducts(location.id)" -
    <ion-item style="padding: 16px 16px 16px 16px; font-weight: bold"  ng-click="showConfirm(location,list)"  ng-repeat="location in locations">
      <div class="row" style="padding:0px !important;">
        <div class="col "> <p>{{location.name}}</p></div>
      </div>
    </ion-item>

</ion-list>
</ion-content>
</div>
-->
      <div ng-if="showProducts">
        <ion-content ng-click="closeMenu()" on-touch="closeMenu()" overflow-scroll="false" class="has-header" style="padding:0px;">
          <ion-list>
            <ion-item ng-click="product.sap != null && scanBarcode(product)" ng-repeat="product in products">
              <div class="row" style=" padding: 16px 0px 16px 0px; !important;">
                <div class="col col-10" style="margin-right: 12px;">
                  <div ng-if="product.price == null || product.price == ''" id="circleR"></div>
                  <div ng-if="product.price > 0 && product.sap != null" id="circleG"></div>
                  <div ng-if="product.sap == null" id="circleD"></div>
                </div>
                <div class="col col-60">
                  <p><b>EAN:</b> {{product.ean}}</p>
                  <p>{{product.name}}</p>
                </div>
                <div ng-show="product.price" class="col col-25 pull-right text-right" style="right: 0">
                  <p style="color:#feb271;font-size: 20px;margin-top: 10px;"><b>${{product.price}}</b></p>
                </div>
              </div>
              <ion-option-button class="button-positive" ng-click="addEdit(product)">&nbsp;&nbsp;Editar&nbsp;&nbsp;</ion-option-button>
            </ion-item>
          </ion-list>
        </ion-content>
      </div>
      <div ng-if="isNewPvP">
        <ion-content ng-click="closeMenu()" on-touch="closeMenu()">
          <div>
            <div class="list" style="padding:15px;text-align: center;">
              <div class="card">
                <div class="item item-divider">
                  Precios del producto
                </div>
                <div class="item item-text-wrap">
                  <label class="item item-input item-floating-label">
     <input ng-model='pvpnew' decimal type="number"  name="pvpnew"  placeholder="PVP">
    </label>
                  <label class="item item-input item-floating-label">
     <input ng-model='ponew' decimal type="number"  name="ponew"  placeholder="Oferta">
    </label>
                  <label class="item item-input item-floating-label">
     <input ng-model='pmnew' decimal type="number"  name="pmnew"  placeholder="Por Mayor">
    </label>
                </div>
                <!-- <div class="item item-divider">
    I'm a Footer in a Card!
  </div>-->
              </div>
              <div class="row">
                <div class="col col-50 col-offset-25">
                  <button style="background-color: #075e54" class="button button-block button-positive" ng-click="createPvP(pvpnew,ponew,pmnew)">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </div>
      <div ng-if="isEdit">
        <ion-content ng-click="closeMenu()" on-touch="closeMenu()">
          <div>
            <div class="list" style="padding:15px;text-align: center;background-color: #fff">
              <div class="card">
                <div class="item item-divider">
                  Precios del producto
                </div>
                <div class="item item-text-wrap">
                  <label class="item item-input item-floating-label">
     <input ng-model='pvpnew' decimal type="number"  name="pvpnew"  placeholder="PVP">
    </label>
                  <label class="item item-input item-floating-label">
     <input ng-model='ponew' decimal type="number"  name="ponew"  placeholder="Oferta">
    </label>
                  <label class="item item-input item-floating-label">
     <input ng-model='pmnew' decimal type="number"  name="pmnew"  placeholder="Por Mayor">
    </label>
                </div>
                <!-- <div class="item item-divider">
    I'm a Footer in a Card!
  </div>-->
              </div>
              <div class="row">
                <div class="col col-50 col-offset-25">
                  <button style="background-color: #075e54" class="button button-block button-positive" ng-click="editPVP(pvpnew,ponew,pmnew)">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </div>
      <div ng-if="isNewProduct">
        <ion-content ng-click="closeMenu()" on-touch="closeMenu()">
          <div>
            <div class="list" style="padding:15px;text-align: center;">
              <div class="card">
                <div class="item item-divider">
                  Nombre / Descripción del producto
                </div>
                <div class="item item-text-wrap">
                  <label class="item item-input item-floating-label">
     <input ng-model='pname' decimal type="text"  name="pname"  placeholder="Ingrese descripción del producto">
    </label>
                </div>
                <!-- <div class="item item-divider">
    I'm a Footer in a Card!
  </div>-->
              </div>
              <div class="card">
                <div class="item item-divider">
                  Precios del producto
                </div>
                <div class="item item-text-wrap">
                  <label class="item item-input item-floating-label">
     <input ng-model='pvpnew' decimal type="number"  name="pvpnew"  placeholder="Ingrese precio afiliado">
    </label>
                  <label class="item item-input item-floating-label">
     <input ng-model='ponew' decimal type="number"  name="ponew"  placeholder="Ingrese precio Oferta">
    </label>
                  <label class="item item-input item-floating-label">
     <input ng-model='pmnew' decimal type="number"  name="pmnew"  placeholder="Ingrese precio por mayor">
    </label>
                </div>
                <!-- <div class="item item-divider">
    I'm a Footer in a Card!
  </div>-->
              </div>
              <div class="row">
                <div class="col col-50 col-offset-25">
                  <button style="background-color: #075e54" class="button button-block button-positive" ng-click="createProductOff(pname,pvpnew,ponew,pmnew)">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </ion-content>
      </div>
      <div ng-if="notFoundA">
        <ion-content ng-click="closeMenu()">
          <div style="padding-top: 20%;color:#CCC; text-align: center;">
            <div class="row">
              <div class="col"></div>
              <div class="col col-80">
                <h3 style="color:#CCC;">No se encontraron ubicaciones</h3>
                <button ng-click="loadAudits()" class="button button-clear button-stable">
 <i style="font-size: 30px;" class="ion-refresh"></i>
</button></div>
              <div class="col"></div>
            </div>
          </div>
        </ion-content>
      </div>
      <div ng-if="notFoundP">
        <ion-content ng-click="closeMenu()">
          <div style="padding-top: 20%;color:#CCC; text-align: center;">
            <div class="row">
              <div class="col"></div>
              <div class="col col-80">
                <h3 style="color:#CCC;">No se encontraron productos</h3>
                <button ng-click="getProducts()" class="button button-clear button-stable">
 <i style="font-size: 30px;" class="ion-refresh"></i>
</button></div>
              <div class="col"></div>
            </div>
          </div>
        </ion-content>
      </div>
      <div ng-if="notFoundL">
        <ion-content ng-click="closeMenu()">
          <div class="has-header" style="padding-top: 20%;color:#CCC; text-align: center;">
            <div class="row">
              <div class="col"></div>
              <div class="col col-80">
                <h3 style="color:#CCC;">No se encontraron listas</h3>
                <button ng-click="sycDB()" class="button button-clear button-stable">
 <i style="font-size: 30px;" class="ion-refresh"></i>
</button></div>
              <div class="col"></div>
            </div>
          </div>
        </ion-content>
      </div>
      <div ng-if="notFoundAPI">
        <ion-content ng-click="closeMenu()">
          <div style="padding-top: 20%;color:#CCC; text-align: center;">
            <div class="row">
              <div class="col"></div>
              <div class="col col-80">
                <h3 style="color:#CCC;">No hay conexión con el API</h3>
                <button ng-click="sycDB()" class="button button-clear button-stable">
 <i style="font-size: 30px;" class="ion-refresh"></i>
</button></div>
              <div class="col"></div>
            </div>
          </div>
        </ion-content>
      </div>
    </ion-view>
  </div>
</body>

</html>
