/* Empty. Add your own CSS if you like */

.folderIcon {
  font-size: 50px;
  color: #075e54;
}

.folderSize {
  width: 18%;
  padding-top: 4px;
}

.api {
  margin-top: 11px;
  width: 100%;
  border: 1px solid #ddd !important;
  padding: 14px !important;
  height: 46px !important;
}

.config {
  text-align: center;
  color: #000;
  font-weight: bold;
  margin-top: 24px;
  font-size: 16px;
}

.item-complex .item-content,
.item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 4px 16px 4px 16px;
  border: none;
  background-color: #fff;
}

.popup-buttons .button {
  color: white;
  background-color: #075e54;
  font-size: 20px;
}

.popup-buttons .button.activated {
  background-color: #054D44;
}

.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.active,
.tabs-top.tabs-striped .tab-item.activated {
  border-color: #fff;
}

.tabs-top>.tabs,
.tabs.tabs-top {
  color: #fff;
  background-color: #075950;
}

#circleR {
  margin-top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #96281B;
}

#circleG {
  margin-top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #26A65B;
}

#circleD {
  margin-top: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ddd;
}
